# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Xcode build system
DerivedData/
build/

# Swift Package Manager
Packages/
.swiftpm/
.build/

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# iOS specific
*.ipa
*.dSYM.zip
*.dSYM

.DS_Store